.TodoSearch {
  background: #39A6A3;
  border-radius: 16px;
  border: none;
  margin: 34px 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Ubuntu';
  font-weight: 500;
  color: #DEEEEA;
  box-shadow: 0px 4px 20px 0px rgba(54, 54, 54, 0.397);
  align-self: center;
  outline: none;
}

.TodoSearch::placeholder {
  color: #deeeead5;
  font-family: 'Ubuntu';
  font-weight: 400;
}